body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  overflow-x: hidden;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500
}

a {
  color: #00BCD4;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out
}

a:hover {
  text-decoration: underline;
  color: #007888;
}

a:focus {
  text-decoration: none
}

p {
  line-height: 1.5
}

strong {
  font-weight: bold;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.btn,a.btn {
  background: #008fa1;
  color: #fff;
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.btn:hover,a.btn:hover {
  color: #fff;
  background: #00a5bb
}

.fab {
  font-size: 1.5rem;
  color: #fff;
}

.fab:hover {
  color: #000;
}

/* Header */
.header {
  background: #00bcd4;
  color: #fff;
}

.header a {
  color: #fff;
}

.header .top-bar {
  position: relative;
  padding-top: 15px;
  padding-bottom: 120px;
}

.header .social {
  margin-bottom: 0
}

.header .actions {
  position: absolute;
  right: 15px;
}

.header .actions .fa {
  margin-right: 5px
}

.header .actions a {
  margin-right: 10px;
  color: #fff
}

.header .actions a:last-child {
  margin-right: 0
}

.header .name {
  font-size: 48px;
  margin-bottom: 15px;
  letter-spacing: 0.5px
}

.header .title {
  font-size: 28px;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
  margin-bottom: 30px
}

.header .profile {
  max-width: 800px;
  margin: 0 auto
}

.header .contact-info {
  background: #008fa1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px
}

.header .contact-info ul {
  margin-bottom: 0
}

.header .contact-info li {
  margin-right: 30px;
  color: rgba(255,255,255,0.8);
}

.header .contact-info li a {
  color: rgba(255,255,255,0.8)
}

.header .contact-info li a:hover {
  color: #fff;
}

.header .contact-info li:last-child {
  margin-right: 0
}

.header .contact-info li .fa {
  margin-right: 10px
}
/* Header */

/* Profile Image */
.header .profile-image {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin-top: -200px;
}
/* Profile Image */

/* Intro */
.header .intro {
  background: #00a5bb;
  padding-top: 90px;
  padding-bottom: 60px;
  font-size: 16px;
}
/* Intro */

/* Contact Info */
.header .contact-info {
  background: #008fa1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
}

.header .contact-info li {
  margin-right: 30px;
}

.header .contact-info li a {
  color :rgba(255, 255, 255, 0.8);
}

.header .contact-info li a:hover {
  text-decoration: underline;
}
/* Contact Info */

.header .contact-info ul {
  margin-bottom: 0;
}

/* Page Navigation */
.page-nav-space-holder {
  height: 60px;
  position: relative;
}

.page-nav-wrapper {
  background: #007888;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.page-nav-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #00BCD4
}

.page-nav-wrapper a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
  font-weight: 400;
}

.page-nav-wrapper .page-nav {
  margin: 0 auto;
  display: inline-block;
}

.page-nav-wrapper .page-nav li {
  margin-right: 30px;
  display: inline-block;
  background: none;
}

.page-nav-wrapper .page-nav li:hover,.page-nav-wrapper .page-nav li:active {
  background: none
}

.page-nav-wrapper .page-nav li a {
  color: rgba(255,255,255,0.6);
  padding: inherit;
}

.page-nav-wrapper .page-nav li a:hover {
  color: #fff
}

.page-nav-wrapper .page-nav li a:hover,.page-nav-wrapper .page-nav li a:active,.page-nav-wrapper .page-nav li a:focus {
  background: none
}

.page-nav-wrapper .page-nav li a.active {
  color: #fff;
  background: none
}

.page-nav-wrapper .page-nav li:last-child {
  margin-right: 0
}
/* Page Navigation */


/* Wrapper */
.wrapper {
  padding-top: 60px;
  padding-bottom: 60px
}

.section {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.section:last-child {
  margin-bottom: 0
}

.section-title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 24px;
  text-align: center
}

/* Timeline */
.timeline {
  border-left: 3px solid #00BCD4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px
}

.timeline .item {
  position: relative;
  margin-bottom: 45px
}

.timeline .item:last-child {
  margin-bottom: 0
}

.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  border: 3px solid #00BCD4
}

.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #00BCD4;
  z-index: 10
}

.timeline .work-place {
  position: relative
}

.timeline .location {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a
}

.timeline .location .fa {
  margin-right: 5px
}

.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300
}

.timeline .job-meta {
  position: absolute;
  left: -280px;
  top: 0
}

.timeline .job-meta .title {
  font-size: 18px;
  color: #00BCD4;
  max-width: 220px
}

.timeline .job-meta .time {
  color: #8a8a8a
}

.timeline .job-desc {
  color: #666
}
/* Timeline */

/* Summary */
.summary-section .intro {
  position: relative;
  padding: 30px;
  font-size: 16px;
  color: #666
}

.summary-section .intro p {
  margin-bottom: 15px
}

.summary-section .service-list {
  margin-left: 30px;
  margin-bottom: 15px
}

.summary-section .service-list li {
  margin-bottom: 15px;
}

.summary-section .service-list li .fas {
  margin-right: 10px;
}
/* Summary */

/* Education Section */
.education-section .item {
  margin-bottom: 45px
}

.education-section .item-inner {
  padding: 0 30px
}

.education-section .degree {
  font-size: 18px;
  color: #00BCD4;
  margin-top: 0;
  margin-bottom: 0px
}

.education-section .education-body {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300
}

.education-section .time {
  color: #8a8a8a;
  margin-bottom: 15px
}

.education-section .gpa {
  color: #333333;
  margin-bottom: 10px;
  font-size: 14px;
}

.education-section .course-work {
  color: #333333;
  font-size: 14px;
}

.education-section .desc {
  color: #666
}